/* .app {
  display: flex;
}

.sidebar {
  width: 250px;
}

.content {
  flex-grow: 4;
}

.options-container {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: rgb(238, 238, 238);
}

.accordion-item {
  margin-top: 10px;
}

.step {
  margin: 10px !important;
}

#load-data-timer,
#load-data-success,
#load-data-fail,
#load-data-spinner,
#load-data-output,
#qc-timer,
#qc-success,
#qc-fail,
#qc-spinner,
#qc-output,
#qc-mc-timer,
#qc-mc-success,
#qc-mc-fail,
#qc-mc-spinner,
#qc-mc-output,
#fsel-timer,
#fsel-success,
#fsel-fail,
#fsel-spinner,
#pca-timer,
#pca-success,
#pca-fail,
#pca-spinner,
#tsne-timer,
#tsne-success,
#tsne-fail,
#tsne-spinner,
#clus-timer,
#clus-success,
#clus-fail,
#clus-spinner,
#mg-timer,
#mg-success,
#mg-fail,
#mg-spinner,
#mg_charts {
  display: none;
}

#clus_charts {
  flex-wrap: nowrap;
} */

/* MUURI layout css */

.grid {
  position: relative;
}

.item {
  position: absolute;
  /* width: 700px;
  height: 400px; */
  /* line-height: 200px; */
  margin: 5px;
  z-index: 1;
  resize: both;
  overflow: auto;
  border: 2px solid grey;
}

.item.muuri-item-hidden {
  z-index: 0;
}

.item.muuri-item-releasing {
  z-index: 2;
}

.item.muuri-item-dragging {
  z-index: 3;
}

.item-content-loadData {
  position: relative;
  width: 300px;
  height: 160px;
  text-align: center;
  margin: 3px;
  /* background: grey; */
  /* font-size: 50px; */
  color: grey;
  cursor: pointer;
  transition: width 0.3s ease, height 0.3s ease;
}

.item-content-qc {
  position: relative;
  width: 900px;
  height: 230px;
  text-align: center;
  margin: 3px;
  overflow: hidden;
  /* background: grey; */
  /* font-size: 50px; */
  color: grey;
  cursor: pointer;
  transition: width 0.3s ease, height 0.3s ease;
}

#qc-charts {
  justify-content: center;
}

.item-content-fSelection {
  position: relative;
  width: 900px;
  height: 300px;
  text-align: center;
  margin: 3px;
  overflow: hidden;
  /* background: grey; */
  /* font-size: 50px; */
  color: grey;
  cursor: pointer;
  transition: width 0.3s ease, height 0.3s ease;
}

.item-content-cluster {
  position: relative;
  width: 300px;
  height: 450px;
  text-align: center;
  margin: 3px;
  overflow: hidden;
  /* background: grey; */
  /* font-size: 50px; */
  color: grey;
  cursor: pointer;
  transition: width 0.3s ease, height 0.3s ease;
}

.item-content-pca {
  position: relative;
  width: 300px;
  height: 450px;
  text-align: center;
  margin: 3px;
  overflow: hidden;
  /* background: grey; */
  /* font-size: 50px; */
  color: grey;
  cursor: pointer;
  transition: width 0.3s ease, height 0.3s ease;
}

.item-content-tsne {
  position: relative;
  width: 500px;
  height: 500px;
  /* text-align: center; */
  margin: 3px;
  overflow: hidden;
  /* background: grey; */
  /* font-size: 50px; */
  color: grey;
  cursor: pointer;
  transition: width 0.3s ease, height 0.3s ease;
}

.item-content-markerGene {
  position: relative;
  width: 600px;
  height: 300px;
  text-align: center;
  margin: 3px;
  overflow: hidden;
  /* background: grey; */
  /* font-size: 50px; */
  color: grey;
  cursor: pointer;
  transition: width 0.3s ease, height 0.3s ease;
}

.item-content {
  position: relative;
  width: 300px;
  height: 100px;
  text-align: center;
  /* background: grey; */
  /* font-size: 50px; */
  color: grey;
  cursor: pointer;
  transition: width 0.3s ease, height 0.3s ease;
}

.item.muuri-item-dragging .item-content {
  background: yellow;
}

.item.muuri-item-releasing .item-content {
  background: green;
}

/* Accordion styles */
/* .accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: "\02795"; 
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; 
} */

/* css for various steps */

.accordion-item {
  margin-top: 10px;
}

.step {
  margin: 10px !important;
}

#load-data-timer,
#load-data-success,
#load-data-fail,
#load-data-spinner,
#load-data-notrun,
#load-data-output {
  display: none;
}